
 .trackerParent{
     /*border: 3px solid yellow;*/
     height: 40px;
     text-align: left;
 
 }
 .timer {
     display: inline-block;
     height:40px;
     width: 66px;
     font-size: 40px;
     font-family: 'Roboto Mono', monospace;
     text-align: left;
     /*border: 1px solid white;*/
     margin-right: 20px;
     
 }
 .prompt{
     height: 300px;
     width: 1500px;
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
     text-align: left;
     word-wrap: break-word;
     /*border: 1px solid white;*/
     
     
 }
 .testParent {
     /*border: 1px solid white;*/
     height: 40px;
     margin-left: auto;
     margin-right: auto;
     width: 1000px;
     text-align: center;
     bottom: 0;
     /*background-color: rgb(60, 20, 87);*/
 }
 .child_words{
     display: inline;
     height: 30px;
     /*border: 1px solid white;*/
     font-size: 30px;
 }
 .child_count{
     display: inline;
     margin-left: 20px;
     height: 30px;
     font-size: 30px;
     cursor: pointer;
     /*border: 1px solid white;*/
 }
 .child_quote{
     display: inline;
     margin-left: 20px;
     height: 30px;
     font-size: 30px;
     cursor: pointer;
     /*border: 1px solid white;*/
 }
 
 p{
     font-size: 40px;
     font-family: 'Roboto Mono', monospace;
     /*color:rgb(101, 101, 209);*/
 }
 .next{
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
}
 