a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
body{
   /*background-color: rgb(11, 4, 28);*/
   text-align: left;
   
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: match-parent;
    text-align: center;
    
}
header{
    margin-right: auto;
    width: auto;
    height: fit-content;
    /*border: 1px solid white;*/
}
.parent {
    text-align: left;
    vertical-align: middle;
    bottom: 0;
    /*border: 1px solid white;*/
}
.title {
    display: inline-block;
    font-size: 100px;
    /*color: rgb(255, 221, 0);*/
    height:fit-content;
    vertical-align: middle;
    margin: 0 auto;
    /*border: 1px solid white;*/
}
.keyboardIcon{
    vertical-align: middle;
    display: inline-block;
    height:60px;
    width: 100px;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: contain;
    cursor: pointer;
    /*border: 1px solid white;*/
    
}
.settingsIcon{
    vertical-align: middle;
    display: inline-block;
    height:40px;
    width: 100px;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: contain;
    cursor: pointer;
    /*border: 1px solid white;*/
    
}
.targetIcon{
    vertical-align: middle;
    display: inline-block;
    height:60px;
    width: 100px;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: contain;
    cursor: pointer;
    /*border: 1px solid white;*/
    
}
.accountIcon{
    vertical-align: middle;
    display: inline-block;
    height:50px;
    width: 50px;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: contain;
    cursor: pointer;
    margin-left: 500px;
    /*border: 1px solid white;*/
    
}
.lettersButton{
    vertical-align: middle;
    display: inline-block;
    font-size:40px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    object-fit: contain;
    cursor: pointer;
}
.formContainer{
    height: 250px;
    width: 400px;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
}
input{
    height: 40px;
    width: 300px;
    background: yellow;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;;
}
button{
    height: 40px;
    width: 300px;
    background: yellow;
    font-size: 20px;
    margin-top: 35px;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
}
p{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    /*color:rgb(101, 101, 209);*/
}
h2{
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
}