a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
body{
    /*background-color: rgb(11, 4, 28);*/
    text-align: left;
    
 }
 p{
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    /*color:rgb(101, 101, 209);*/
}
 .container{
     margin-left: auto;
     margin-right: auto;
     width: match-parent;
     text-align: center;
    
     
 }
 header{
     margin-right: auto;
     width: auto;
     height: fit-content;
     /*border: 1px solid white;*/
 }
 .parent {
     text-align: left;
     vertical-align: middle;
     bottom: 0;
     /*border: 1px solid white;*/
 }
 .title {
     display: inline-block;
     font-size: 100px;
     /*color: rgb(255, 221, 0);*/
     height:fit-content;
     vertical-align: middle;
     margin: 0 auto;
     /*border: 1px solid white;*/
 }
 .keyboardIcon{
     vertical-align: middle;
     display: inline-block;
     height:60px;
     width: 100px;
     margin-top: auto;
     margin-bottom: auto;
     object-fit: contain;
     cursor: pointer;
     /*border: 1px solid white;*/
     
 }
 .settingsIcon{
     vertical-align: middle;
     display: inline-block;
     height:40px;
     width: 100px;
     margin-top: auto;
     margin-bottom: auto;
     object-fit: contain;
     cursor: pointer;
     /*border: 1px solid white;*/
     
 }
 .targetIcon{
    vertical-align: middle;
    display: inline-block;
    height:60px;
    width: 100px;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: contain;
    cursor: pointer;
    /*border: 1px solid white;*/
    
}
.accountIcon{
    vertical-align: middle;
    display: inline-block;
    height:50px;
    width: 50px;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: contain;
    cursor: pointer;
    margin-left: 500px;
    /*border: 1px solid white;*/
    
}
 .lettersButton{
    vertical-align: middle;
    display: inline-block;
    font-size:40px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    object-fit: contain;
    cursor: pointer;
}
.targetBox{
    display: inline-block;
    height: 60px;
    width: 120px;
    cursor: pointer;
    margin-top: 30px;
    vertical-align: center;
    padding-top: 15px;
    vertical-align:top;
}
.continueButton{
    height: 50px;
    width: 150px;
    margin-top: 100px;
    border: 1px solid white;
    color: white;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
div{
    font-size:30px;
    font-family: 'Roboto Mono', monospace;
}
